@page "/"

<PageTitle>Home</PageTitle>

<div class="container" style="max-width: 1200px; margin: 0 auto;">
    <h1 style="text-align: center">Добро пожаловать в скидки</h1>
    <AuthorizeView>
        <NotAuthorized>
            <p style="font-size: 24px; text-align: center;">Для продолжения необходимо авторизоваться</p>
        </NotAuthorized>
        <Authorized>

        </Authorized>
    </AuthorizeView>

</div>